<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0"
      >


  <div fxFlex="40"  *ngIf="dish" [@visibility]="visibility">
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{BaseURL+dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-button (click)="goBack()">BACK</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>


  <div fxFlex="45" *ngIf="dish" [@visibility]="visibility">

    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>Comments</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content *ngFor="let com of dish.comments" >
        <p>{{com.comment}}<br>
        {{com.rating}} Stars<br>
        - - {{com.author}} {{com.date |  date:'mediumDate'}}</p>


      </mat-card-content>
      <mat-card-content>
        <div fxFlex  class="form-size">


          <p *ngIf="commentForm.value.comment ">
            {{commentForm.value.comment}}<br>
            {{commentForm.value.rating}} Stars<br>
            - - {{commentForm.value.author}} </p>

          <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field class="full-width">
                <input matInput formControlName="author" placeholder="Name" type="text" required>
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-slider [max]="5" [min]="1" [step]="1" [thumbLabel]="true" formControlName="rating" type="number"></mat-slider>
            </p>
            <p>
              <mat-form-field class="full-width">
                <textarea matInput formControlName="comment" placeholder="Your Feedback"  required ></textarea>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
              </mat-form-field>
            </p>

            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="fform.invalid">Submit</button>
          </form>
        </div>
      </mat-card-content>




    </mat-card>









  </div>


  <div fxFlex [hidden]="dish || errmsg">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div fxFlex *ngIf="errmsg">
    <h2>Error</h2>
    <h4>{{errmsg}}</h4>
  </div>


</div>
